body{
    background-color: #03a9f4;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
}
#left{
    background-color:white;
    margin-top:3px;
    width:300px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
    text-align: center;
    font-family: system-ui;
    font-style: oblique;
    font-size: large;
     padding: 10px;
    border-radius: 4px;
    outline: none;
      border: none;
}
#right{
    display: grid;
   place-items: center;
   margin: 36px auto;
   box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
    background-color: white;
    width: 400px;
    height:500px;
}
h1{
    text-align: center;
    font-family: system-ui;
    font-style: oblique;
    color:white;
  text-transform: capitalize;
   
}
h2{
    text-align: center;
    font-family: system-ui;
    font-style: oblique;
    color:white;
    margin-top: -16px;
  text-transform: capitalize;
}
input{

    font-style: oblique;
    font-family: system-ui;
    font-size: larger;
    width: 295px;
height: 30px;
outline: none;
  border: none;
border-bottom: 2px solid  #00acc1;


}
::placeholder{
   
    font-family: system-ui;
    font-style: oblique;
    font-size: large;

}
#btn{
display: block;
margin-left: 130px;
margin-bottom: 5px;
width: 70px;
height: 29px;
outline: none;
font-family: system-ui;
text-transform: capitalize;
font-size: large;
border-radius: 3px;
border: none;
background-color:#1a237e;
color: white;
cursor:pointer;
}
#btn:hover, #add:hover{
    opacity: 0.7;
}
#description{
    font-family: system-ui;
    font-style: oblique;
    font-size: larger;
    width: 291px;
    height: 117px;
    outline: none;
    border-radius: 4px;
    border:2px solid  #00acc1;
    margin-top: 23px;
}
#add{
    width: 87px;
    font-family: system-ui;
    height: 37px;
    font-size: large;
    color: white;
    background-color: #03A9F4;
    outline: none;
    border: none;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
}
@media screen and (max-width:850px){
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:19px;
    }
}
@media screen and (max-width:648px){
    .container{
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 30px;
    }
    #tr{
        display: grid;
        place-items: center;
    }
}
